#ridingDudu {
    position: fixed;
    top: 150px;
    width: 20%;
    height: auto;
}

.ridingDudu {
    top: 150px;
    width: 35%;
    height: auto;
}

.valentine-btn {
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 10px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .yes-btn {
    background: linear-gradient(135deg, #ff7171, #ff9b9b);
  }
  
  .no-btn {
    background: linear-gradient(135deg, #7171ff, #9b9bff);
  }
  
  .valentine-btn:hover {
    box-shadow: 0 0 10px #ff7171, 0 0 40px #ff9b9b, 0 0 80px #ff7171;
    transform: scale(1.1);
  }
  
  .valentine-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 150%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
    border-radius: 25px;
  }
  
  .valentine-btn:hover:before {
    left: 100%;
  }
  
  .yes-btn:before {
    transform: rotate(20deg);
  }
  
  .no-btn:before {
    transform: rotate(-20deg);
  }
  